* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul li {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: lightgray;
}

.page-1,
.page-2 {
	flex: 1;
}

.page-1 {
	display: flex;
	justify-content: center;
}

.page-1_container {
	width: 300px;
}

.page-1_search {
	margin-bottom: 1em; 
}

.page-1_counter {
	margin-top: 15px;
	font-size: 0.8em;
}

pre {
	font-size: 1.2em;
}

.hide-page {
	display: none;
}