* {
	transition: color 0.5s, background 0.5s;
}

.dark-1 {
	background: #12151E;
	color: #CFD2DC;
}

.dark-1 a {
	color: #585865;
}

.dark-1 a:hover {
	color: #E5E7EC;
}

.dark-1 a.active {
	color: #E5E7EC;
}

.dark-1 li {
	border-color: #585865;
}

.dark-2 {
	background: #2E323C;
	color: #CBCED8;
	border-color: #2E323C;
}

.dark-btn {
	background: #282C38;
	color: #8B8E9B;
	border-color: #282C38;
}

button.dark-btn:hover {
	background: #2E323C;
	color: #CBCED8;
}

.dark-select {
	color:#1EAA43;
}

.dark-highlight {
	color: #CDD010;
}

.dark-dim {
	color: #586467;
}


.light-1 {
	background: #FFFFFF;
	color: #3F4346;
}

.light-1 a {
	color: #CBCFD2;
}

.light-1 a:hover {
	color: #717E87;
}

.light-1 a.active {
	color: #717E87;
}

.light-1 li {
	border-color: #CBCFD2;
}

.light-2 {
	background: #EAEBEB;
	color: #5B5D5F;
	border-color: #EAEBEB;
}

.light-btn {
	background: #A3A3A3;
	color: #F9F9F9;
	border-color: #A3A3A3;
}

button.light-btn:hover {
	background: #ACACAC;
	color: #FBFBFB;
}

.light-select {
	color: #436574;
}

.light-highlight {
	color: #AD075D;
}

.light-dim {
	color: #B2B2B2;
}