.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: lightgray;
}


.header {
  padding: 15px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-left: 25px;
}

.nav-menu li a {
  color: gray;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: black;
}

.nav-menu li a.active {
  color: black;
}