@import "./colors.css";

body {
  background: lightgray;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.header {
  padding: 15px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-left: 25px;
}

.nav-menu li a {
  text-decoration: none;
}


.words {
  flex: 1;
  height: 100%;
  padding: 40px;
}

.words > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.words_search {
  text-align: center;
}

.words_search > div {
  width: 300px;
  margin: 0 auto;
  padding: 15px 0px;
  border-radius: 10px;
  text-align: center;
}

.words_search input {
  width: 260px;
  background: transparent;
  border: none;
  outline: none;
}

.words_counter {
  order: 1;
  margin-top: auto;
  font-size: 0.8em;
  text-align: right;
}

.words pre {
  margin-top: 1em;
  font-size: 1.2em;
}


.new-words {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.new-words > * {
  flex: 1;
}

.new-words textarea {
  width: 100%;
  height: 300px;
  padding: 5px;
  resize: none;
}

.new-words button {
  margin-top: 15px;
}

.new-words_result {
  padding: 10px 10px 10px 20px;
  color: gray;
}

.new-words_counter {
  flex-basis: auto;
  width: 100%;
  margin-top: 20px;
}