@import "./colors.css";

body {
  background: lightgray;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.header {
  padding: 15px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-left: 25px;
}

.nav-menu li a {
  text-decoration: none;
}


/* --------- Search --------- */
.search {
  width: 300px;
  padding: 15px 0px;
  border-radius: 10px;
  text-align: center;
}

.search input {
  width: 260px;
  border: none;
  outline: none;
}
/* --------- end Search ----- */


.words {
  flex: 1;
  height: 100%;
  padding: 40px;
}

.words_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.words_search .search {
  margin: 0 auto;
}

.words_counter {
  order: 1;
  margin-top: auto;
  font-size: 0.8em;
  text-align: right;
}

.words pre {
  margin-top: 1em;
  font-size: 1.2em;
}


.new-words {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.new-words > * {
  flex: 1;
}

.new-words textarea {
  width: 100%;
  height: 300px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  resize: none;
}

.new-words button {
  margin: 15px 5px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-words_input > div {
  display: inline-block;
  margin-top: 15px;
  padding: 2px;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  background: transparent;
}

.new-words_input button {
  margin: 0;
  padding: 7px;
  border-radius: 3px;
}

.new-words_result {
  padding: 10px 10px 10px 20px;
}

.new-words_counter {
  flex-basis: auto;
  width: 100%;
  margin-top: 20px;
}