.dark-1 {
	background: #12151E;
	color: #CFD2DC;
}

.dark-1 a {
	color: #CFD2DC;
}

.dark-1 a:hover {
	color: #E5E7EC;
}

.dark-2 {
	background: #2E323C;
	color: #CBCED8;
	border-color: #2E323C;
}

.dark-btn {
	background: #282C38;
	color: #8B8E9B;
	border-color: #282C38;
}

button.dark-btn:hover {
	background: #2E323C;
	color: #CBCED8;
}

.dark-select {
	color:#1EAA43;
}

.dark-highlight {
	color: #CDD010;
}

.dark-dim {
	color: #363B3C;
}